body {
  width: 1440px;
  height: 900px;
  overflow: hidden;
}

#trgreen {
  position: absolute;
  left: 200px;
  top: -140px;
  width: 511px;
}

#trred {
  position: absolute;
  left: 80px;
  top: 300px;
  width: 450px;
}

#cred {
  position: absolute;
  left: -30px;
  top: -24px;
  width: 100px;
}

#cgreen {
  position: absolute;
  left: 650px;
  top: 435px;
  width: 200px;
}
