body {
  width: 1440px;
  height: 900px;
  overflow: hidden;
}

#trgreen {
  position: absolute;
  left: 18vw;
  top: -19vh;
  width: 70vw;
}

#trred {
  position: absolute;
  left: 6vw;
  top: 42vh;
  width: 54vw;
}

#cred {
  position: absolute;
  left: -2vw;
  top: -6vh;
  width: 10vw;
}

#cgreen {
  position: absolute;
  left: 81vw;
  top: 62vh;
  width: 35vw;
}
